@import url(http://fonts.googleapis.com/css?family=Lora|Hammersmith+One);
body {
    background: #333 url('../img/background.png') center 0px no-repeat;
    color: #FFF;
    font-family: "Lora", Helvetica, Verdana, sans-serif;
    letter-spacing: 1px;
    font-size:14px;
}

header {
    height:120px;
    width: 100%;
    background: #FFF;
    position: fixed;
    top:0;
    z-index:10;


}
header .header-inner {
    width: 950px;
    margin: 0 auto;
    padding:0 ;
    text-align:left;

}

header #logo {
    margin-top:9px;
    display: block;
    position: absolute;
}

header .social-icon {
    float:right;
    margin-top:10px;
}

header .main-nav ul{
    float:right;
    width: 640;
    margin-top:30px;

} 

header .main-nav ul li {
    list-style: none;
    float: right;
    margin-left: 20px;

}
header .main-nav ul a.activate {
    background: #900;
    color: #FFF;
}
header .main-nav ul a {
    font-family: "Lora", Helvetica, Verdana, sans-serif;
    color: #666;
    font-size:12px;
    letter-spacing:2px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 5px;
}

.main-content {
    width:100%;
    position:absolute;
    top:120px;
}
.page {
    position:static;
    margin-top:140px
}

.main-content a
,.main-content a:visited
,.main-content a:active
,.main-content a:hover
{
    color:#EE0;

}
.main-content h3{
    font-size: 32px;
    letter-spacing:3px;
    color:#EEEEEE;
}

.main-content h2{
    font-size: 36px;
    letter-spacing:3px;
}

.main-content p,.main-content li,.main-content h4{
    font-size: 18px;
}
.arrow-wrap .arrow-prev {
    position: relative;
    margin-top:200px;
    float:left;
    z-index:3;
}
.arrow-wrap .arrow-next {
    position: relative;
    margin-top:200px;
    float:right;
    z-index:3;
}

.maincontent-inner, .arrow-wrap{
    width: 950px;
    margin:0 auto;
}

.slide {
    position:relative;
    list-style:none;
    width: 100%;
    padding: 0;
    margin:0;
}

.slide li{
    position: absolute;
    display:none;
    width:100%;
}
.slide li:first-child{
    position: absolute;
    display:list-item;
}
.slide li .slide-img img{
    position: absolute;
    top:0;
    left:0;
    z-index:-10;
    overflow:hidden;
}
.slide li .slide-text{
    position: relative;
    width:900px;
    margin:0 auto;
    margin-top:40px;
}
.slide li .slide-text .box{
    width:55%;
    padding:1px 5px 1px 15px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 25px 5px rgba(0,0,0,0.4);
    border-radius: 3px;
}

.slide li .slide-text h1{
    font-size:40px;
    line-height:24px;
    letter-spacing:3px;
    font-family: 'Hammersmith One', sans-serif;
}

.slide li .slide-text h2{
    font-size:22px;
    letter-spacing:3px;

}

.slide-indicators {
    position: absolute;
    bottom:55px;
    width:100%;
    text-align:center;
    z-index:15;
}

.slide-indicators a{
    border: 1px solid white;
    border-radius:15px;
    width:8px;
    height:8px;
    display: inline-block;
    text-indent:-200%;
    overflow:hidden;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.4);
    background: rgba(0,0,0,0.4)
}

.slide-indicators a.current{
    background:white;
}
footer {
    position: fixed;
    bottom:0;
    z-index:10;
    width: 100%;
    background: url('../img/footer_bg.png');
    color: #999;
    font-size:13px;
}

footer .footer-inner {
    width: 950px;
    margin: 0 auto;
    padding: 3px 0;
}

.footer-rel {
    position: relative;
    margin-top:20px;
}
.pull-right {
    float:right;
}
.pull-left {
    float:left;
}

.span2-left {
    float:left;
    width:475px;
}
.span2-right {
    float:right;
    width:460px;
}
.clearfix {
    clear:both;

}

.e-span3 {
    float:left;
    width:33.333%;
    line-height: 200px;
}

.e-span3 a,.e-span3 a:hover,.e-span3 a:visited {
    color:#FFF;
    text-decoration:none;
}

.e-span3 a:hover .e-box{
    background:#666;
}
.e-box {
    border: solid 5px #555;
    border-radius:5px;
    text-align:center;
    vertical-align: middle;
    margin:30px 10px 50px;
    background: #AAA ;  
    font-size:24px;
}


